div{
    text-align: center;
    padding: 150px;
    /* margin: 50px; */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 680px;
    color: white;
}